# Excel files
*.xls
*.xlsx
*.xlsm
*.xlsb

# .NET build outputs
bin/
obj/

# DLLs and binaries
*.dll
*.exe
*.pdb
*.so
*.dylib

# NuGet
*.nupkg
*.snupkg

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS directories
.vs/

.fake
src/ReliabilityCostTool.Api/logs/log-2026-03-25.log
src/ReliabilityCostTool.Web/logs/log-2026-03-25.log
